.about {
  display: flex;
  flex-direction: column;
  padding: 140px 0;
  background: #f6f6f6;
}

.about__aboutus {
  text-align: center;
  padding: 30px 0;
}

.about__aboutuspara {
  width: 90wh;
  margin: 50px;
  text-align: justify;
}

.about__details {
  display: flex;
  justify-content: space-evenly;
}

.about__who > h4 {
  font-size: 20px;
}
.about__what > h4 {
  font-size: 20px;
}

.about__who > li {
  margin-bottom: 3px;
  list-style: none;
  padding: 0;
  font-size: 13px;
}

.about__who > li:before {
  content: "✓";
  font-weight: 600;
  padding-right: 10px;
  color: #e75926;
}

.about__what > li {
  margin-bottom: 3px;
  list-style: none;
  padding: 0;
  font-size: 13px;
}

.about__what > li:before {
  content: "✓" !important;
  font-weight: 600;
  padding-right: 10px;
  color: #e75926;
}

.about__image {
  width: 500px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
